@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
.font {
  font-family: 'Open Sans Hebrew' !important;
}
.font h5,
.font h4,
.font h3,
.font h2,
.font h1 {
  font-family: 'Open Sans Hebrew' !important;
}
.font .deal-description span {
  font-family: 'Open Sans Hebrew' !important;
}
.font-ie {
  font-family: arial, sans-serif !important;
}
.font-ie h5,
.font-ie h4,
.font-ie h3,
.font-ie h2,
.font-ie h1 {
  font-family: arial, sans-serif !important;
}
.font-ie .deal-description span {
  font-family: arial, sans-serif !important;
}
@keyframes pullUp {
  0% {
    transform: scaleY(0.1);
  }
  40% {
    transform: scaleY(1.02);
  }
  60% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(1);
  }
}
@-webkit-keyframes pullUp {
  0% {
    -webkit-transform: scaleY(0.1);
  }
  40% {
    -webkit-transform: scaleY(1.02);
  }
  60% {
    -webkit-transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}
body {
  width: 100%;
}
body .container-fluid {
  position: relative;
}
body #alert-container {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
}
body #alert-container .alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}
body #alert-container .alert {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  overflow: hidden;
  height: 0;
  padding: 0px 14px 0px 35px;
  margin-bottom: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
body #alert-container .alert-open {
  height: 38px;
  padding: 8px 14px 8px 35px;
}
body .panel-wrapper .panel-body {
  position: relative;
}
body .panel-wrapper .panel-body .loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}
body .panel-wrapper .panel-body .tabs-panel .tab {
  padding: 5px 8px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
}
body .panel-wrapper .panel-body .tabs-panel .tab:hover {
  background: #ccc;
}
body .panel-wrapper .panel-body .tabs-panel .active {
  background: #ccc;
}
body .panel-wrapper .panel-body .buildings .building-tabs {
  margin-top: 10px;
}
body .panel-wrapper .panel-body .buildings .building-tabs ul {
  padding: 0;
}
body .panel-wrapper .panel-body .buildings .building-tabs ul .tab {
  display: inline-block;
  padding: 5px 8px;
  margin-right: -4px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
}
body .panel-wrapper .panel-body .buildings .building-tabs ul .tab:hover {
  background: #ccc;
}
body .panel-wrapper .panel-body .buildings .building-tabs ul .tab .remove {
  margin-right: 4px;
}
body .panel-wrapper .panel-body .buildings .building-tabs ul .active {
  background: #ccc;
}
body .panel-wrapper .panel-body .buildings .building-tabs .building-details {
  margin-top: 10px;
}
body .panel-wrapper .panel-body .buildings .building-tabs .plus {
  display: inline-block;
  padding: 5px 8px;
  cursor: pointer;
}
body .dropdown-menu {
  right: 15px;
  text-align: right;
}
